.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    // position: relative;
    margin: 20px;
    .search-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .new-row{
        margin: 20px;
        font-size: 18px;
        // position: absolute;
        // top:40%;
        // left: 50%;
        padding: 10px 20px;
        height: 100px;
    }
    .search{
        width: 400px;
        // background: #ccc;
    }
    .table-body{
        width: 100%;
        display: flex;
        overflow: scroll;
          
        .table{
            overflow: scroll;
            width: 100%;
        }
    }
}